.jumbotron.text-center
  %paper-button.login-button.col-xs-1.col-xs-offset-11
    Login
  .container-fluid
    %h1
      MMU Android Student Club
    %h4 Learn Android Development, Together.

.container
  %h2.text-center
    Coming Soon. Next Semester.